#list{
	margin:15px;
}

#list table{
	text-align:center;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid black;
}

#list table{
	border: 1px solid black;
}

#form{
	margin:15px;
}
#form div{
	margin-bottom: 3px;
}
#form label{
	display: block;
    width: 100px;
    float: left;
}

.error{
	border: 2px solid red;
}

.success{
	border: 2px solid green;
}