fieldset {
    float: left;
    clear: both;
    margin-left: 11em;
}

form div {
    clear: both;
}

legend {
    color: red;
    background-color: white;
    font-weight: bold;
}

div label {
    display: block;
    float: left;
    width: 15em;
    text-align: right;
    padding-right: 1em;
}

form div {
    margin: 1ex 0;
}

select {
    vertical-align: middle;
    margin-right: 1em;
}
iframe{
    height: 40px;
}